body{
	margin: 0;
}
h1{
	font-family: 'Bebas Neue', cursive;
	font-size:  50px;
	color:rgba(6, 8, 10, 1.0);
	text-align: right;
      
}

h2{
	font-family: 'Bebas Neue', cursive;
	font-size:  50px;
	color: rgba(6, 8, 10, 1.0);
	text-align: right;
}
h3{
	font-family: 'Dongle', sans-serif;
	font-size: 30px;
	color: black;
	text-align: left;


}

input, button{
	position:content;
	margin-right: 20px;
	padding-right: auto;
	border: solid;
}

input{
	
	background-color: lightgreen;

	font-size-adjust: 40px;

}
button{
	color: green;
	background-color: white;

}

#container-imagem{
	position: absolute;
	height: 100vh;
	width: 100vw;
	background:url(fundo.png);
	background-size: cover;
}


	
